* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #888;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    background-color: #f2c399;
    padding: 10px;
    width: 100vw;
    height: 80vh;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: #ffe0c4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Stronger shadow to give it depth */
    display: flex;
    flex-direction: column;
}

.middle-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes image to top, achievements to bottom */
    background-color: #ffe0c4;
    border-radius: 10px;
    padding: 10px;
    height: 75vh;
}

.image-container {
    flex-grow: 1;
    border-radius: 10px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievements-bar {
    background-color: #e53935;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.main {
    position: relative;
    align-self: center;
    text-align: center;
    align-content: center;
    width: 100vw;
}

.widgets {
    width: 100%; /* Or a fixed width if you want */
    box-sizing: border-box;
    display: flex; /* If you want them side-by-side, otherwise block is fine */
    flex-direction: column; /* If stacking vertically */
    gap: 10px; /* Optional spacing between widgets */
}

.widget {
    background-color: #ffe0c4; /* This is the same as your sidebar. Change to a more visible color if needed */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;  /* Space between widgets */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Stronger shadow to give it depth */
    display: flex;
    overflow: hidden; /* Prevents children from bleeding out */
    flex-direction: column;
    min-height: 150px;  /* Optional: to make it feel like a block even if it's empty */
}

.header {
    background-color: #e53935;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}